.history-modal-container {
    justify-content: center;
    max-width: 500px;
    width: 70%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.history-table-container {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    max-height: 200px;
}


.history-table-container th, .history-table-container td {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.exit-button-container {
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
}

.exit-button-container button {
    width: 50%;
    margin: .5rem;
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
    color: #ffffff;
}

.exit-button {
    background-color: rgba(85, 85, 85, 0.9);
    cursor: pointer;
}

.exit-button:hover {
    background-color: rgba(85, 85, 85, 0.7);
}

.history-header {
   text-align: center; 
}

.item-header {
    text-align: center;
    font-size: 20px;
}