.table-container {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto 0;
  }
  
.table-container th, .table-container td {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.add-button {
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.item {
  position: relative;
}

.delete-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  color: rgb(233, 48, 48);
  user-select: none;
}

.edit-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  color: rgb(20, 19, 19);
  user-select: none;
}

.history-icon {
  width: 30px;
  height: 30px;
  font-size: 60px;
  position: absolute;
  cursor: pointer;
  color: rgb(20, 19, 19);
  user-select: none;
}

.top-right {
  top: -85px;
  right: -10px; 
}

.top-left {
  top: -85px;
  left: -10px;
}

.bottom-right {
  bottom: -10px;
  right: -10px;
}